<%= link_to 'Team Roster', "/teams/#{@team.id}/player_table_name" %>

<h1>Team Info</h1>

<p><b>Name: </b><%= @team.name %> </p>
  <p><b>Rank: </b><%= @team.rank %> </p>
  <p><i> Qualified for World Cup? </i> <%= @team.qualified %> </p>
  <p><b>Total Roster: </b><%= @team.player_count %></b>
</p>

<%= link_to 'Update Team', "/teams/#{@team.id}/edit" %>
