<h1><%= @team.name %></h1>

<%= form_with url: "/teams/#{@team.id}/players", method: :get, local: true do |form| %>
  <p><%= form.label :min_age %>
  <%= form.text_field :age %></p>
  <p><%= form.submit "Sort by #{@team.name}'s minimum player age" %></p>
<% end %>

<% @players.each do |player| %>
  <p><b>Name: </b><%= player.name %></p>
  <p><b>Age: </b><%= player.age %></p>
  <p><i>Age eligble for World Cup? </i><%= player.old_enough %></p> <%= link_to "Edit: #{player.name}", "/players/#{player.id}/edit" %>
  <br>
<% end %>

<%= link_to "Create Player for #{@team.name}", "/teams/#{@team.id}/players/new" %>
<br>
<%= link_to "#{@team.name} players listed alphabetically", "/teams/#{@team.id}/players?sorted=true" %>